In [1]:
import pandas as pd
import numpy as np
import h5py
from keras.models import load_model

Using TensorFlow backend.

In [337]:
w1 = pd.read_json('data/w1.json')
w2 = pd.read_json('data/w2.json')
u1 = pd.read_json('data/u1.json')
l1_out = pd.read_json('data/l1_out.json')
w1.head()

,i,f,c,o
0,"[-0.051818922162055005, 0.281944543123245, 0.0...","[-0.054414965212345005, -0.11309316009283, -0....","[0.388985097408294, 0.31531023979187, -0.02937...","[-0.21254535019397702, 0.08083001524209901, 0...."
1,"[0.10474779456853801, 0.099947459995746, -0.23...","[-0.12353754043579102, 0.055491447448730004, 0...","[0.011329145170748001, 0.12316905707120801, -0...","[0.180764317512512, -0.15554749965667702, -0.2..."
2,"[-0.181749522686004, -0.039721384644508, -0.04...","[-0.102840356528759, -0.165873453021049, -0.03...","[0.08518882095813701, -0.144758701324462, 0.01...","[0.043206956237554, -0.135169833898544, 0.0113..."
3,"[-0.161572962999343, -0.06455525755882201, 0.0...","[-0.14845587313175201, 0.095563292503356, 0.12...","[-0.086671918630599, 0.120737545192241, 0.0294...","[-0.102982223033905, -0.132507890462875, 0.025..."
4,"[0.05474245920777301, -0.041306424885988006, -...","[-0.15406189858913402, -0.12127310037612901, 0...","[-0.13151580095291102, 0.0028684209100900003, ...","[0.169632449746131, 0.093373946845531, -0.1889..."

In [338]:
u1.shape

(50, 4)

In [339]:
w1.shape

(8, 4)

In [340]:
w2.head()

,i,f,c,o
0,"[-0.027771685272455004, 0.14399468898773102, -...","[0.08203245699405601, -0.013990044593811, 0.12...","[-0.038734827190637006, -0.065746538341045, -0...","[0.23574748635292, 0.159674674272537, 0.073873..."
1,"[-0.11767560988664601, 0.11132464557886101, 0....","[0.09468781948089601, 0.04552374780178001, -0....","[-0.071447439491748, 0.067171223461627, -0.122...","[-0.10810097306966701, -0.151491284370422, 0.0..."
2,"[-0.191342309117317, -0.10006690025329501, 0.1...","[0.044024750590324006, 0.14000616967678, -0.03...","[0.020114928483963002, -0.06394379585981301, 0...","[-0.083600379526615, -0.07033511251211101, 0.1..."
3,"[-0.020026398822665003, -0.075052790343761, 0....","[-0.061033830046653005, -0.033588543534278, -0...","[0.00501268915832, 0.036782596260309004, -0.15...","[-0.08356203138828201, 0.09172473847866, 0.000..."
4,"[-0.031606532633304, 0.08459801226854301, 0.13...","[0.022335723042488, 0.113641843199729, 0.02367...","[-0.101288773119449, -0.000864503381308, 0.115...","[-0.17305570840835502, -0.05950807034969301, 0..."

In [207]:
w2.shape

(50, 4)

In [208]:
feature = ['feature1', 'feature2', 'feature3', 'feature4', 'feature5', 'feature6', 'feature7', 'feature8']

In [209]:
w1['feature'] = feature
w1 = w1.set_index('feature').reset_index()
w1.head(8)

,feature,i,f,c,o
0,feature1,"[-0.051818922162055005, 0.281944543123245, 0.0...","[-0.054414965212345005, -0.11309316009283, -0....","[0.388985097408294, 0.31531023979187, -0.02937...","[-0.21254535019397702, 0.08083001524209901, 0...."
1,feature2,"[0.10474779456853801, 0.099947459995746, -0.23...","[-0.12353754043579102, 0.055491447448730004, 0...","[0.011329145170748001, 0.12316905707120801, -0...","[0.180764317512512, -0.15554749965667702, -0.2..."
2,feature3,"[-0.181749522686004, -0.039721384644508, -0.04...","[-0.102840356528759, -0.165873453021049, -0.03...","[0.08518882095813701, -0.144758701324462, 0.01...","[0.043206956237554, -0.135169833898544, 0.0113..."
3,feature4,"[-0.161572962999343, -0.06455525755882201, 0.0...","[-0.14845587313175201, 0.095563292503356, 0.12...","[-0.086671918630599, 0.120737545192241, 0.0294...","[-0.102982223033905, -0.132507890462875, 0.025..."
4,feature5,"[0.05474245920777301, -0.041306424885988006, -...","[-0.15406189858913402, -0.12127310037612901, 0...","[-0.13151580095291102, 0.0028684209100900003, ...","[0.169632449746131, 0.093373946845531, -0.1889..."
5,feature6,"[-0.04544346034526801, 0.061000928282737, -0.1...","[-0.09963271021842901, -0.15785737335681901, 0...","[0.028123201802372003, -0.010599792003631, 0.0...","[-0.123495206236839, 0.030100250616669003, -0...."
6,feature7,"[0.115035213530063, 0.017041126266121, -0.1519...","[-0.009484529495239001, -0.007770597934722001,...","[0.068997837603092, -0.139040857553482, -0.076...","[0.032282188534736, 0.058688290417194006, 0.09..."
7,feature8,"[-0.22209613025188402, 0.046594146639108006, 0...","[0.111288100481033, 0.15172457695007302, -0.14...","[0.08331626653671201, 0.138304129242897, -0.02...","[-0.22422958910465202, -0.08871565014123901, -..."

In [212]:
def flatten_col(df, col, reset_index=False):
    col_flat = pd.DataFrame([[i, x] for i, y in df[col].apply(list).iteritems() for x in y], columns=['I', col])
    col_flat = col_flat.set_index('I')
#     df = df.drop(col, 1)
#     df = df.merge(col_flat, left_index=True, right_index=True)
#     if reset_index:
#         df = df.reset_index(drop=True)
    return col_flat

In [213]:
i1_flatten = flatten_col(w1, 'i')
f1_flatten = flatten_col(w1, 'f')
c1_flatten = flatten_col(w1, 'c')
o1_flatten = flatten_col(w1, 'o')
i1_flatten

           i
I
0  -0.051819
0   0.281945
0   0.096680
0   0.209902
0   0.124585
..       ...
7  -0.079630
7  -0.079474
7   0.124975
7   0.054761
7  -0.014541

[400 rows x 1 columns]

In [214]:
w1_flatten = pd.concat([i1_flatten,f1_flatten,c1_flatten,o1_flatten], axis=1)
w1_flatten.reset_index(inplace=True)
w1_flatten.rename(columns={'I':'feature'},inplace=True)
w1_flatten

     feature         i         f         c         o
0          0 -0.051819 -0.054415  0.388985 -0.212545
1          0  0.281945 -0.113093  0.315310  0.080830
2          0  0.096680 -0.007552 -0.029377  0.097410
3          0  0.209902 -0.114465  0.469542  0.271263
4          0  0.124585 -0.097894  0.273872  0.112013
..       ...       ...       ...       ...       ...
395        7 -0.079630 -0.121334  0.144362  0.072776
396        7 -0.079474  0.029414  0.076431  0.042704
397        7  0.124975  0.045925  0.109349 -0.070459
398        7  0.054761 -0.110983  0.062639  0.104828
399        7 -0.014541 -0.020019  0.036021 -0.087196

[400 rows x 5 columns]

In [215]:
cell = list(range(50)) * 8
w1_flatten['cell'] = cell
w1_flatten

     feature         i         f         c         o  cell
0          0 -0.051819 -0.054415  0.388985 -0.212545     0
1          0  0.281945 -0.113093  0.315310  0.080830     1
2          0  0.096680 -0.007552 -0.029377  0.097410     2
3          0  0.209902 -0.114465  0.469542  0.271263     3
4          0  0.124585 -0.097894  0.273872  0.112013     4
..       ...       ...       ...       ...       ...   ...
395        7 -0.079630 -0.121334  0.144362  0.072776    45
396        7 -0.079474  0.029414  0.076431  0.042704    46
397        7  0.124975  0.045925  0.109349 -0.070459    47
398        7  0.054761 -0.110983  0.062639  0.104828    48
399        7 -0.014541 -0.020019  0.036021 -0.087196    49

[400 rows x 6 columns]

In [216]:
w1_melt = pd.melt(w1_flatten,id_vars=['feature','cell'], value_vars=['i','f','c','o'], var_name='gate')
w1_melt

      feature  cell gate     value
0           0     0    i -0.051819
1           0     1    i  0.281945
2           0     2    i  0.096680
3           0     3    i  0.209902
4           0     4    i  0.124585
...       ...   ...  ...       ...
1595        7    45    o  0.072776
1596        7    46    o  0.042704
1597        7    47    o -0.070459
1598        7    48    o  0.104828
1599        7    49    o -0.087196

[1600 rows x 4 columns]

In [217]:
i2_flatten = flatten_col(w2, 'i')
f2_flatten = flatten_col(w2, 'f')
c2_flatten = flatten_col(w2, 'c')
o2_flatten = flatten_col(w2, 'o')
i2_flatten

           i
I
0  -0.027772
0   0.143995
0  -0.138608
0   0.013175
0  -0.159723
..       ...
49 -0.131380
49  0.091258
49 -0.124207
49 -0.151963
49 -0.160937

[2500 rows x 1 columns]

In [218]:
w2_flatten = pd.concat([i2_flatten,f2_flatten,c2_flatten,o2_flatten], axis=1)
w2_flatten.reset_index(inplace=True)
w2_flatten.rename(columns={'I':'feature'},inplace=True)
w2_flatten

      feature         i         f         c         o
0           0 -0.027772  0.082032 -0.038735  0.235747
1           0  0.143995 -0.013990 -0.065747  0.159675
2           0 -0.138608  0.122210 -0.057105  0.073874
3           0  0.013175  0.141044 -0.099856  0.102472
4           0 -0.159723 -0.053246  0.047433  0.028258
...       ...       ...       ...       ...       ...
2495       49 -0.131380 -0.067507  0.002165 -0.221782
2496       49  0.091258 -0.010368  0.109338 -0.091209
2497       49 -0.124207  0.123178 -0.023775  0.083425
2498       49 -0.151963  0.105130 -0.000776 -0.194200
2499       49 -0.160937  0.087962  0.105501 -0.148126

[2500 rows x 5 columns]

In [219]:
w2_flatten['feature'].dtype

dtype('int64')

In [220]:
cell = list(range(50)) * 50
w2_flatten['cell'] = cell
w2_flatten

      feature         i         f         c         o  cell
0           0 -0.027772  0.082032 -0.038735  0.235747     0
1           0  0.143995 -0.013990 -0.065747  0.159675     1
2           0 -0.138608  0.122210 -0.057105  0.073874     2
3           0  0.013175  0.141044 -0.099856  0.102472     3
4           0 -0.159723 -0.053246  0.047433  0.028258     4
...       ...       ...       ...       ...       ...   ...
2495       49 -0.131380 -0.067507  0.002165 -0.221782    45
2496       49  0.091258 -0.010368  0.109338 -0.091209    46
2497       49 -0.124207  0.123178 -0.023775  0.083425    47
2498       49 -0.151963  0.105130 -0.000776 -0.194200    48
2499       49 -0.160937  0.087962  0.105501 -0.148126    49

[2500 rows x 6 columns]

In [221]:
w2_melt = pd.melt(w2_flatten,id_vars=['feature','cell'], value_vars=['i','f','c','o'], var_name='gate')
w2_melt

      feature  cell gate     value
0           0     0    i -0.027772
1           0     1    i  0.143995
2           0     2    i -0.138608
3           0     3    i  0.013175
4           0     4    i -0.159723
...       ...   ...  ...       ...
9995       49    45    o -0.221782
9996       49    46    o -0.091209
9997       49    47    o  0.083425
9998       49    48    o -0.194200
9999       49    49    o -0.148126

[10000 rows x 4 columns]

In [222]:
w1_flatten.to_json('data/w1_flatten.json',orient='records')

In [223]:
# w1_flatten.to_csv('data/w1_flatten.csv')

In [224]:
w2_flatten.to_json('data/w2_flatten.json',orient='records')

In [225]:
w1_melt.to_json('data/w1_melt.json',orient='records')

In [226]:
w2_melt.to_json('data/w2_melt.json',orient='records')

### Read weight files and transform weight data in each layer

In [48]:
# model = load_model('lstm_model.h5')
# #  weights = pd.HDFStore('weights001.hdf5',mode='r
# from copy import copy
# df = {}
# for epoch in np.arange(0,50):
#     model.load_weights("weights{:03d}.hdf5".format(epoch+1))
#     WUb = get_LSTMweights(model,model.layers[0])
#     weight,wlabel = vectorize_with_labels(*WUb)
#     df["{:03d}".format(epoch)] = copy(weight)

In [47]:
def read_weight_file(file_path):
    f = h5py.File(file_path,'r')
    return f

In [63]:
f = read_weight_file('weights001.hdf5')
f.keys()

In [65]:
f['model_weights/LSTM2'].keys()

In [76]:
l2 = f['model_weights/LSTM2/LSTM2_4/kernel:0']
l2 = pd.DataFrame(np.array(l2))
# l2

In [77]:
l2.reset_index(inplace=True)
l2.rename(columns={'index':'cell_l1'},inplace=True)
# l2

In [ ]:
l2_melt = pd.melt(l2, id_vars=['feature','gate'], var_name='cell_l2')

In [78]:
ep1 = extract_weights('weights001.hdf5',2)
ep1.head()

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,0.090737,-0.105064,-0.116686,0.069375,0.004644,-0.012989,-0.067102,-0.035772,0.109837,-0.056364,...,-0.057667,0.140011,0.069225,0.012521,0.144946,0.131522,-0.005835,-0.126960,-0.047215,-0.102649
1,-0.079517,-0.154083,-0.124029,0.113173,0.041827,0.020848,-0.050865,0.099921,0.054475,-0.005324,...,0.129132,0.086322,-0.118185,-0.066586,0.051833,0.066862,0.019257,0.060574,-0.075214,-0.152211
2,-0.090169,-0.058667,-0.017098,0.130286,-0.031169,0.097904,-0.014881,0.009500,-0.013340,-0.116866,...,0.158770,0.047951,-0.022783,-0.122208,-0.172208,0.005562,0.092375,-0.094063,-0.005082,0.067219
3,0.028417,-0.146780,-0.109591,0.126993,-0.185904,0.122295,-0.012359,-0.093657,0.068205,-0.086437,...,-0.134968,0.024386,0.064951,-0.031740,0.070328,0.032872,0.055208,-0.010731,-0.137698,0.070007
4,0.098731,0.014179,0.141058,-0.079152,0.011994,-0.079004,-0.010856,-0.032024,0.049618,-0.038678,...,0.144222,0.065878,-0.082443,0.080939,0.103387,-0.147154,-0.124198,0.175078,0.028016,-0.045055

In [69]:
ep1_trans = transform_gate_df(ep1, 1)
ep1_trans

/Users/jaywang/anaconda3/envs/data_science/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

      cell_l1 gate cell_l2     value  epoch
0           0    i       0  0.090737      1
1           1    i       0 -0.079517      1
2           2    i       0 -0.090169      1
3           3    i       0  0.028417      1
4           4    i       0  0.098731      1
...       ...  ...     ...       ...    ...
2495       45    o      49  0.119073      1
2496       46    o      49 -0.107611      1
2497       47    o      49  0.071966      1
2498       48    o      49  0.037772      1
2499       49    o      49  0.077905      1

[10000 rows x 5 columns]

In [70]:
epoch_dfs = []
for i in np.arange(1, 51):
    ext = extract_weights('weights{:03d}.hdf5'.format(i),2)
    epoch_trans = transform_gate_df(ext,i)
    epoch_dfs.append(epoch_trans)

/Users/jaywang/anaconda3/envs/data_science/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [73]:
df_l2 = pd.concat(epoch_dfs).reset_index(drop=True)
df_l2.head()

   cell_l1 gate cell_l2     value  epoch
0        0    i       0  0.090737      1
1        1    i       0 -0.079517      1
2        2    i       0 -0.090169      1
3        3    i       0  0.028417      1
4        4    i       0  0.098731      1

In [75]:
flag = df_l2.value.apply(lambda x: check_negative(x))
df_l2['isNeg'] = flag
df_l2.head()

   cell_l1 gate cell_l2     value  epoch  isNeg
0        0    i       0  0.090737      1  False
1        1    i       0 -0.079517      1   True
2        2    i       0 -0.090169      1   True
3        3    i       0  0.028417      1  False
4        4    i       0  0.098731      1  False

In [79]:
df_l2.to_json('data/all_epochs_l2.json',orient='records')

In [67]:
def extract_weights(file_path, n_layer ):
    f = read_weight_file(file_path)
    layer = f['model_weights/LSTM{}/LSTM{}_4/kernel:0'.format(n_layer, n_layer)]
    df = pd.DataFrame(np.array(layer))
#     df = add_feature_column(df)
    return df

n_cells = 50
def add_columns(df,gate):
    df.reset_index(inplace=True)
    df.rename(columns={'index':'cell_l1'}, inplace=True)
    df['gate'] = [gate for _ in range(50)]
    return df

def melt_columns(df):
    df_melt = pd.melt(df, id_vars=['cell_l1','gate'], var_name='cell_l2')
    return df_melt

def transform_gate_df(df,nth_epoch):
    i = df.iloc[:, 0 : n_cells]
    f = df.iloc[:, n_cells :n_cells * 2]
    c = df.iloc[:, n_cells * 2 : n_cells * 3]
    o = df.iloc[:, n_cells * 3 : n_cells * 4]
    
#     return i, f, c, o
    add_columns(i, 'i')
    add_columns(f, 'f')
    add_columns(c, 'c')
    add_columns(o, 'o')

    
    i_melt = melt_columns(i)
    f_melt = melt_columns(f)
    f_melt['cell_l2'] = i_melt['cell_l2']
    c_melt = melt_columns(c)
    c_melt['cell_l2'] = i_melt['cell_l2']
    o_melt = melt_columns(o)
    o_melt['cell_l2'] = i_melt['cell_l2']

    
    all_melt = pd.concat([i_melt,f_melt,c_melt,o_melt], axis=0)
    epoch = [nth_epoch for _ in range(10000)]
    all_melt['epoch'] = epoch
    return all_melt
#     return i_melt, f_melt, c_melt, o_melt

def concat_columns(df_list):
   
    all_melt = pd.concat(df_list, axis=0)


    return all_melt

In [43]:
# layer1_2 = f['model_weights/LSTM2/LSTM2_4/kernel:0']
# layer1_2 = pd.DataFrame(np.array(layer1_2))
# layer1_2.head()

In [26]:
# def extract_weights(file_path, n_layer ):
#     f = read_weight_file(file_path)
#     layer = f['model_weights/LSTM{}/LSTM{}_7/kernel:0'.format(n_layer, n_layer)]
#     df = pd.DataFrame(np.array(layer))
# #     df = add_feature_column(df)
#     return df

# n_cells = 50
# def add_columns(df,gate):
#     df.reset_index(inplace=True)
#     df.rename(columns={'index':'feature'}, inplace=True)
#     df['gate'] = [gate for _ in range(8)]
#     return df

# def melt_columns(df):
#     df_melt = pd.melt(df, id_vars=['feature','gate'], var_name='cell')
#     return df_melt

# def transform_gate_df(df,nth_epoch):
#     i = df.iloc[:, 0 : n_cells]
#     f = df.iloc[:, n_cells :n_cells * 2]
#     c = df.iloc[:, n_cells * 2 : n_cells * 3]
#     o = df.iloc[:, n_cells * 3 : n_cells * 4]
    
# #     return i, f, c, o
#     add_columns(i, 'i')
#     add_columns(f, 'f')
#     add_columns(c, 'c')
#     add_columns(o, 'o')

    
#     i_melt = melt_columns(i)
#     f_melt = melt_columns(f)
#     f_melt['cell'] = i_melt['cell']
#     c_melt = melt_columns(c)
#     c_melt['cell'] = i_melt['cell']
#     o_melt = melt_columns(o)
#     o_melt['cell'] = i_melt['cell']

    
#     all_melt = pd.concat([i_melt,f_melt,c_melt,o_melt], axis=0)
#     epoch = [nth_epoch for _ in range(1600)]
#     all_melt['epoch'] = epoch
#     return all_melt
# #     return i_melt, f_melt, c_melt, o_melt

# def concat_columns(df_list):
   
#     all_melt = pd.concat(df_list, axis=0)


#     return all_melt

In [31]:
e1 = extract_weights('weights001.hdf5',1)
e1.shape

(8, 200)

In [119]:
epoch2 = extract_weights('weights002.hdf5',1)
# add_feature_column(epoch1)
epoch2

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,0.245343,-0.074842,0.207595,0.298167,0.212722,-0.140523,0.136515,-0.047207,0.086719,-0.206901,...,0.106376,0.082293,0.222606,-0.071831,-0.022473,0.259827,0.107983,0.150176,0.181878,0.181636
1,-0.048503,0.192402,0.173552,0.051322,0.061833,0.045539,-0.032139,-0.147146,-0.056537,0.030315,...,0.122267,0.027657,0.296891,-0.077674,-0.112941,0.131515,0.181132,0.005613,-0.017575,0.021060
2,-0.084935,0.212869,0.236289,0.143771,0.154360,0.065534,0.116065,-0.064951,0.058768,0.099256,...,-0.183236,0.118925,0.132887,0.061965,-0.071053,-0.131761,0.116915,0.109454,0.066004,-0.115243
3,-0.108277,-0.025563,0.087497,0.145721,0.149908,-0.153171,0.041660,-0.109423,0.117651,0.002711,...,0.021225,-0.052739,0.039945,0.151354,-0.060287,-0.164507,0.038404,0.135462,0.104966,0.014543
4,0.106593,0.186955,0.125469,-0.099185,-0.119878,-0.025201,0.036172,-0.025777,0.239232,0.149653,...,-0.115956,0.108854,0.065780,0.167617,0.180153,0.078869,0.077073,-0.067159,0.111265,-0.133726
5,-0.080895,0.030987,0.024466,-0.010622,-0.001373,0.062186,-0.042327,-0.134009,0.164920,-0.141041,...,-0.195897,0.054839,0.121229,-0.167232,0.028769,0.060349,-0.026306,-0.138722,-0.095472,-0.046979
6,-0.125923,-0.036759,0.139996,-0.000828,0.126927,0.081672,-0.050287,0.045967,0.148674,0.106472,...,-0.038570,-0.026983,-0.179885,0.057715,-0.012934,-0.107998,-0.115900,0.006870,-0.052723,0.057370
7,0.005845,0.158823,-0.173902,-0.080968,-0.125936,0.009090,-0.167691,0.031651,-0.044469,-0.122559,...,0.012570,-0.116425,0.140085,0.057486,0.015285,0.049007,-0.002911,-0.030045,-0.005147,-0.089883

In [120]:
epoch3 = extract_weights('weights003.hdf5',1)
epoch3

,0,1,2,3,4,5,6,7,8,9,...,190,191,192,193,194,195,196,197,198,199
0,0.280622,-0.082700,0.238540,0.329037,0.252189,-0.170105,0.157860,-0.037648,0.065772,-0.233691,...,0.086137,0.073341,0.262741,-0.018435,-0.025739,0.273768,0.155613,0.179774,0.171782,0.206528
1,-0.046447,0.208206,0.179181,0.058937,0.089828,0.048903,-0.035856,-0.150447,-0.062141,0.032438,...,0.131037,0.032045,0.344804,-0.052762,-0.111601,0.125834,0.202903,0.034045,-0.018581,0.022935
2,-0.082046,0.211837,0.242381,0.154851,0.189970,0.062425,0.115569,-0.066852,0.052456,0.087172,...,-0.181455,0.122081,0.175132,0.074203,-0.066489,-0.135041,0.139141,0.130437,0.062027,-0.110324
3,-0.098097,-0.025812,0.095588,0.161542,0.178994,-0.163926,0.041300,-0.106375,0.095143,-0.010074,...,0.026828,-0.068820,0.079916,0.181145,-0.071171,-0.176495,0.067303,0.160268,0.097911,0.006963
4,0.118686,0.202592,0.130231,-0.096655,-0.119841,-0.024629,0.030275,-0.022763,0.230193,0.165012,...,-0.109174,0.096936,0.088803,0.188178,0.181801,0.073310,0.071107,-0.068857,0.107005,-0.134986
5,-0.043544,-0.011825,0.040774,0.032638,0.044320,0.017023,-0.013835,-0.119366,0.130744,-0.179914,...,-0.175149,0.022423,0.108829,-0.143200,0.004134,0.050437,0.012543,-0.134412,-0.116893,-0.068695
6,-0.143587,-0.011517,0.120772,-0.027463,0.114186,0.095166,-0.073206,0.046035,0.153560,0.129325,...,-0.021116,-0.009262,-0.200339,0.036061,-0.024038,-0.124262,-0.136409,-0.014362,-0.049419,0.038086
7,-0.035866,0.160870,-0.163844,-0.079011,-0.133677,0.008657,-0.171608,0.027905,-0.054500,-0.135211,...,0.008242,-0.123572,0.165538,0.034794,0.008700,0.038840,0.002442,-0.044335,-0.007577,-0.107029

In [121]:
epoch2_trans = transform_gate_df(epoch2, 2)
epoch2_trans

/Users/jaywang/anaconda3/envs/data_science/lib/python3.7/site-packages/pandas/core/frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)
/Users/jaywang/anaconda3/envs/data_science/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

     feature gate cell     value  epoch
0          0    i    0  0.245343      2
1          1    i    0 -0.048503      2
2          2    i    0 -0.084935      2
3          3    i    0 -0.108277      2
4          4    i    0  0.106593      2
..       ...  ...  ...       ...    ...
395        3    o   49  0.014543      2
396        4    o   49 -0.133726      2
397        5    o   49 -0.046979      2
398        6    o   49  0.057370      2
399        7    o   49 -0.089883      2

[1600 rows x 5 columns]

In [26]:
epoch_dfs = []
for i in np.arange(1, 51):
    ext = extract_weights('weights{:03d}.hdf5'.format(i),1)
    epoch_trans = transform_gate_df(ext,i)
    epoch_dfs.append(epoch_trans)

/Users/jaywang/anaconda3/envs/data_science/lib/python3.7/site-packages/pandas/core/frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)
/Users/jaywang/anaconda3/envs/data_science/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [27]:
df = pd.concat(epoch_dfs).reset_index(drop=True)
df

       feature gate cell     value  epoch
0            0    i    0  0.142196      1
1            1    i    0 -0.083053      1
2            2    i    0 -0.107993      1
3            3    i    0 -0.154334      1
4            4    i    0  0.079292      1
...        ...  ...  ...       ...    ...
79995        3    o   49 -0.091790     50
79996        4    o   49 -0.138998     50
79997        5    o   49 -0.079070     50
79998        6    o   49 -0.035301     50
79999        7    o   49  0.043360     50

[80000 rows x 5 columns]

In [74]:
def check_negative(num):
    return True if num<0 else False

In [34]:
flag = df.value.apply(lambda x: check_negative(x))
flag.shape

(80000,)

In [35]:
df['isNeg'] = flag

In [36]:
df.head()

   feature gate cell     value  epoch  isNeg
0        0    i    0  0.142196      1  False
1        1    i    0 -0.083053      1   True
2        2    i    0 -0.107993      1   True
3        3    i    0 -0.154334      1   True
4        4    i    0  0.079292      1  False

In [37]:
df.to_json('data/all_epochs.json',orient='records')

In [344]:
f = h5py.File('weights002.hdf5','r')

In [345]:
list(f.keys())

['model_weights', 'optimizer_weights']

In [348]:
# output keys for three layers
f['model_weights'].keys()

In [351]:
# first layer key
f['model_weights/LSTM1'].keys()

In [352]:

f['model_weights/LSTM1/LSTM1_2'].keys()

In [347]:
first_layer= f['model_weights/LSTM1/LSTM1_2/kernel:0']
first_layer

In [288]:
f['model_weights/'].keys()

In [289]:
f['model_weights/LSTM2/LSTM2_2/kernel:0']

In [290]:
f['model_weights/output/output_2/kernel:0']

In [291]:
d = pd.DataFrame(np.array(first_layer))

In [294]:
d.reset_index(inplace=True)

In [295]:
d.rename(columns={'index':'feature'},inplace=True)

In [296]:
d.columns

Index(['feature',         0,         1,         2,         3,         4,
               5,         6,         7,         8,
       ...
             190,       191,       192,       193,       194,       195,
             196,       197,       198,       199],
      dtype='object', length=201)

In [476]:
i = d.iloc[:, 0:51]
f = d.iloc[:, 51:101]
c = d.iloc[:, 101:151]
o = d.iloc[:, 151:201]
i

,feature,0,1,2,3,4,5,6,7,8,...,40,41,42,43,44,45,46,47,48,49
0,0,0.117547,0.228513,0.197600,0.221709,0.065749,-0.091638,0.125452,0.191836,-0.028967,...,0.043030,0.176722,-0.243462,0.185199,0.283179,0.186270,0.068022,-0.049683,0.303138,0.164083
1,1,0.068090,0.171347,-0.135032,0.092353,-0.043250,0.185740,-0.060391,0.079146,0.207147,...,0.028447,0.132001,0.159459,0.016839,-0.060426,0.042579,-0.117665,0.010704,0.032862,0.154605
2,2,-0.058304,0.013584,0.062412,0.020988,-0.093938,0.202946,-0.055341,-0.127922,0.017506,...,-0.025487,-0.067585,-0.142989,0.090614,0.001440,0.169588,0.153272,0.144011,-0.046658,0.040838
3,3,-0.100887,-0.022718,0.126053,0.201533,0.141704,0.175244,0.130956,0.082275,0.037205,...,-0.066251,0.039568,0.119900,0.081928,-0.060509,0.056799,-0.000483,-0.034492,0.026916,0.013767
4,4,0.091172,0.041045,0.077922,-0.082152,0.166015,0.131186,-0.040957,-0.006612,0.160436,...,-0.015688,-0.108328,0.169630,0.031552,-0.108523,0.233395,0.051251,0.262088,0.141346,0.152163
5,5,0.044639,0.007109,-0.084142,0.045545,0.072123,-0.098865,-0.104038,-0.033258,0.044549,...,0.030993,0.171035,-0.071979,-0.036186,0.045757,-0.036612,0.083118,0.211360,0.063429,0.052330
6,6,0.089588,0.000279,-0.153001,-0.017321,0.012529,0.025126,-0.102387,0.010003,0.038623,...,0.149669,0.042286,0.161425,0.091966,0.065055,0.121450,0.039629,0.085567,-0.178479,-0.143099
7,7,-0.092848,0.086859,0.059108,-0.130615,-0.095755,0.083634,-0.149967,0.031885,-0.086366,...,0.054088,-0.039048,-0.001829,-0.187913,-0.196236,-0.097035,-0.058191,0.151980,0.047776,-0.063463

In [299]:
add_feature_column(f)

,feature,50,51,52,53,54,55,56,57,58,...,90,91,92,93,94,95,96,97,98,99
0,0,-0.054415,-0.113093,-0.007552,-0.114465,-0.097894,-0.017964,-0.109651,-0.136948,-0.060052,...,-0.127616,-0.122174,-0.043446,-0.105932,0.029832,-0.062014,0.063849,0.051940,-0.152891,0.090142
1,1,-0.123538,0.055491,0.059461,-0.077329,0.013829,0.016163,-0.083505,-0.071906,0.006239,...,0.029317,0.092646,0.016919,0.034559,0.097162,0.166486,-0.039743,-0.076780,-0.081414,-0.142013
2,2,-0.102840,-0.165873,-0.033033,0.097149,-0.091454,-0.064424,-0.100057,-0.015423,-0.138415,...,-0.088980,0.030871,-0.028907,-0.000350,-0.031335,-0.042343,-0.022686,-0.126010,-0.148557,0.118607
3,3,-0.148456,0.095563,0.128365,0.044860,0.022507,-0.024013,0.060237,-0.117307,-0.041089,...,-0.121659,0.085815,-0.148692,0.163105,-0.102443,-0.131718,0.028780,-0.003397,0.084940,-0.091422
4,4,-0.154062,-0.121273,0.101787,0.131465,-0.021854,-0.106373,0.045392,0.050377,0.166631,...,0.089493,-0.160394,0.043803,0.120932,0.118799,-0.077624,0.168749,0.060470,-0.024693,-0.087877
5,5,-0.099633,-0.157857,0.120612,-0.152159,-0.028697,-0.145769,-0.078402,-0.006263,0.100816,...,0.093784,-0.047715,0.145477,-0.045906,-0.080212,0.139988,0.075491,0.083429,0.126693,-0.054781
6,6,-0.009485,-0.007771,0.086082,0.109102,-0.033141,0.101233,-0.058296,0.011652,-0.051452,...,0.136430,-0.089955,-0.066032,0.025037,-0.072647,-0.093172,0.070025,0.122828,-0.047224,-0.119092
7,7,0.111288,0.151725,-0.143291,0.059558,0.011146,-0.095591,-0.157159,-0.012639,0.051359,...,0.008351,0.002504,-0.137945,0.049025,0.034786,-0.121334,0.029414,0.045925,-0.110983,-0.020019

In [300]:
add_feature_column(c)

,feature,100,101,102,103,104,105,106,107,108,...,140,141,142,143,144,145,146,147,148,149
0,0,0.225040,0.189156,-0.062617,0.315853,0.139761,-0.255898,0.003357,0.304124,0.294180,...,-0.091509,0.194799,-0.206525,-0.044339,0.126189,-0.199544,0.215193,-0.303647,0.215983,0.261831
1,1,0.027665,0.179651,-0.019276,0.060977,0.115967,-0.100688,-0.151849,0.078314,-0.099699,...,-0.032371,-0.002380,0.133659,-0.168153,0.006685,-0.108625,0.175598,0.068313,0.133743,-0.070905
2,2,0.089847,-0.103164,-0.036763,0.063608,0.070481,0.008171,-0.150410,0.104352,-0.077988,...,-0.037761,0.155127,-0.108132,-0.110000,0.135694,0.032950,-0.134359,-0.017468,-0.054041,0.083457
3,3,-0.123370,0.142812,0.125431,-0.026469,0.088884,0.172216,0.005620,0.081846,0.037795,...,-0.063041,0.071050,0.088215,0.080215,-0.013555,0.070340,0.119722,0.022165,-0.090598,-0.182763
4,4,-0.142635,0.046431,0.134636,0.003302,0.112520,0.070470,-0.099719,0.058281,0.084475,...,-0.016873,-0.168876,-0.033505,0.042353,0.104156,-0.009039,0.133599,-0.034345,0.116775,0.125218
5,5,-0.010213,-0.011553,0.029478,-0.169679,-0.101561,0.089997,-0.144780,-0.083085,-0.062295,...,0.186433,0.074839,-0.012582,0.141057,0.079577,0.022954,-0.020091,-0.038618,-0.026829,0.018262
6,6,0.054164,-0.147554,-0.085057,-0.087790,0.133096,0.063961,0.141668,-0.081680,-0.037931,...,0.077633,0.097742,-0.126329,-0.062146,-0.089053,-0.087207,-0.038987,0.149535,-0.096549,0.020983
7,7,0.059844,0.147533,-0.043521,0.094693,0.068169,0.135460,-0.029122,-0.021968,0.024421,...,0.171422,-0.163962,0.017544,-0.130782,0.024224,0.163651,0.079519,0.143120,0.068264,0.004138

In [301]:
add_feature_column(o)

,feature,150,151,152,153,154,155,156,157,158,...,190,191,192,193,194,195,196,197,198,199
0,0,-0.059595,0.029124,0.197580,0.266305,0.054408,0.172043,0.077959,0.304624,0.132010,...,0.119113,0.188702,-0.205422,0.183130,0.250060,0.100179,0.147411,-0.076418,0.145665,0.059356
1,1,0.137831,-0.089083,-0.103719,0.135462,0.164059,0.259102,-0.089956,0.037909,-0.037486,...,0.022560,0.118331,0.153607,0.128772,-0.051008,0.194754,0.190554,0.148532,-0.049641,-0.053445
2,2,0.163822,-0.084106,0.120383,0.222936,0.116297,0.186363,0.075244,-0.042339,-0.061225,...,0.108171,0.143858,0.162169,-0.060974,-0.057658,0.024511,0.077144,0.256684,0.101911,-0.003128
3,3,-0.039930,-0.087276,0.109261,0.167722,-0.021625,0.217249,0.146748,-0.103157,-0.022911,...,-0.114740,-0.022415,-0.138925,-0.153003,0.016759,0.045816,-0.048493,-0.057928,0.054804,0.111618
4,4,0.220947,0.181288,-0.098461,0.178883,-0.003667,0.201862,0.149247,-0.047882,-0.104665,...,-0.018034,-0.053509,0.110741,-0.136877,0.175758,0.072305,0.067100,0.175058,-0.086701,0.145946
5,5,-0.040297,-0.027989,-0.154883,-0.164986,-0.093589,-0.087156,-0.170688,-0.143202,0.006498,...,0.038930,0.042532,-0.004822,-0.099817,-0.011392,-0.122887,0.078266,0.209248,0.056640,-0.037731
6,6,0.004538,0.041919,0.091535,0.141566,0.135697,0.056335,-0.033362,-0.037420,0.062456,...,-0.104140,0.007361,0.176073,0.097311,0.124752,-0.137448,0.015717,-0.000250,-0.183641,-0.104314
7,7,-0.083144,-0.047436,-0.008202,-0.059402,-0.079477,0.180581,0.116017,0.131349,-0.079030,...,0.093747,-0.029110,0.053869,0.105747,-0.187045,0.070076,0.064842,-0.057639,0.100357,-0.133357

In [321]:
# i_values = [i for i in range(50)]
# f_values = [i for i in range(50,100)]
# c_values = [i for i in range(100,150)]
# o_values = [i for i in range(150,200)]
i_melt = pd.melt(i,id_vars='feature', var_name='cell')
f_melt = pd.melt(f,id_vars='feature', var_name='cell')

c_melt = pd.melt(c,id_vars='feature',var_name='cell')

o_melt = pd.melt(o, id_vars='feature',var_name='cell')

In [322]:
i_melt

     feature cell     value
0          0    0  0.117547
1          1    0  0.068090
2          2    0 -0.058304
3          3    0 -0.100887
4          4    0  0.091172
..       ...  ...       ...
395        3   49  0.013767
396        4   49  0.152163
397        5   49  0.052330
398        6   49 -0.143099
399        7   49 -0.063463

[400 rows x 3 columns]

In [323]:
i_melt['gate']=['i' for _ in range(400)]
i_melt

     feature cell     value gate
0          0    0  0.117547    i
1          1    0  0.068090    i
2          2    0 -0.058304    i
3          3    0 -0.100887    i
4          4    0  0.091172    i
..       ...  ...       ...  ...
395        3   49  0.013767    i
396        4   49  0.152163    i
397        5   49  0.052330    i
398        6   49 -0.143099    i
399        7   49 -0.063463    i

[400 rows x 4 columns]

In [332]:
f_melt['gate']=['f' for _ in range(400)]
f_melt['cell'] = i_melt['cell']
f_melt

     feature cell     value gate
0          0    0 -0.054415    f
1          1    0 -0.123538    f
2          2    0 -0.102840    f
3          3    0 -0.148456    f
4          4    0 -0.154062    f
..       ...  ...       ...  ...
395        3   49 -0.091422    f
396        4   49 -0.087877    f
397        5   49 -0.054781    f
398        6   49 -0.119092    f
399        7   49 -0.020019    f

[400 rows x 4 columns]

In [333]:
c_melt['gate']=['c' for _ in range(400)]
c_melt['cell'] = i_melt['cell']
c_melt

     feature cell     value gate
0          0    0  0.225040    c
1          1    0  0.027665    c
2          2    0  0.089847    c
3          3    0 -0.123370    c
4          4    0 -0.142635    c
..       ...  ...       ...  ...
395        3   49 -0.182763    c
396        4   49  0.125218    c
397        5   49  0.018262    c
398        6   49  0.020983    c
399        7   49  0.004138    c

[400 rows x 4 columns]

In [334]:
o_melt['gate']=['o' for _ in range(400)]
o_melt['cell'] = i_melt['cell']
o_melt

     feature cell     value gate
0          0    0 -0.059595    o
1          1    0  0.137831    o
2          2    0  0.163822    o
3          3    0 -0.039930    o
4          4    0  0.220947    o
..       ...  ...       ...  ...
395        3   49  0.111618    o
396        4   49  0.145946    o
397        5   49 -0.037731    o
398        6   49 -0.104314    o
399        7   49 -0.133357    o

[400 rows x 4 columns]

In [336]:
all_melt = pd.concat([i_melt,f_melt,c_melt,o_melt], axis=0)
all_melt

     feature cell     value gate
0          0    0  0.117547    i
1          1    0  0.068090    i
2          2    0 -0.058304    i
3          3    0 -0.100887    i
4          4    0  0.091172    i
..       ...  ...       ...  ...
395        3   49  0.111618    o
396        4   49  0.145946    o
397        5   49 -0.037731    o
398        6   49 -0.104314    o
399        7   49 -0.133357    o

[1600 rows x 4 columns]